<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInternationalBusinessService" />
                <binding name="BasicHttpsBinding_IInternationalBusinessService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:26738/Service/InternationalBusinessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInternationalBusinessService" contract="InternationalBusinessService_Client_1_0.IInternationalBusinessService" name="BasicHttpBinding_IInternationalBusinessService" />
            <endpoint address="https://localhost:44321/Service/InternationalBusinessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IInternationalBusinessService" contract="InternationalBusinessService_Client_1_0.IInternationalBusinessService" name="BasicHttpsBinding_IInternationalBusinessService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>