<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IInternationalBusinessService" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="BasicHttpsBinding_IInternationalBusinessService" maxReceivedMessageSize="2147483647" />
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44321/Service/InternationalBusinessService.svc" 
                binding="basicHttpsBinding" 
                bindingConfiguration="BasicHttpsBinding_IInternationalBusinessService" 
                contract="InternationalBusinessService_Client_1_0.IInternationalBusinessService" 
                name="BasicHttpsBinding_IInternationalBusinessService" />
    </client>
  </system.serviceModel>
</configuration>